# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# secrets
.env
test.*
# cache
*.pyc
# dependencies
node_modules/
client/node_modules/
client/build/
client/dist/
server/venv/
server/.venv/
/.pnp
.pnp.js
*.pid

# test reports
playwright/test_reports/*
playwright/test-results/*
playwright/playwright-report/*
playwright/logs/*.log

server/test_reports/*
server/doctor_octopus.egg-info/*
server/src/doctor_octopus.egg-info/*
server/build/*

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
