.card {
  position: relative;
  background-color: rgba(22, 47, 65, 0.389);
  border: 3px solid var(--octopus-gray);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 170px;
  box-shadow: 0 0 0.5px cyan;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.card.golden {
  border: 0.1px solid var(--octopus-golden);
}

.card:hover,
.card:focus {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 24px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.02);
}

.card-header {
  margin-bottom: 10px;
  position: relative;
}

.sdet-name {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
}

.card-title .project-name {
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  font-size: medium;
  border-color: cyan;
}

.score-board-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.score-board {
  background-color: black;
  border: 1px solid var(--octopus-gray);
  padding: 10px 20px;
  margin-bottom: 5px;
  color: white;
  font-size: 10px;
  transition: transform 0.2s;
  /* text-shadow: 1px 1px 2px rgba(80, 169, 80, 0.689); */
}

.score-board:hover {
  transform: scale(1.1);
}

.score {
  display: block;
  font-size: 15px;
  margin-top: 5px;
}

.branch,
.time-stamp {
  margin: 3px;
}

.card-footer {
  align-items: center;
  font-size: 11px;
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 70px;
  border-top: 0.5px solid #a3a9a2;
  color: var(--border-color);
  position: relative;
}

.branch {
  float: left;
  min-width: 20px;
  font-weight: 500;
  color: #c9d1d9;
  text-align: center;
}

.duration {
  color: #c9d1d9;
  float: left;
  margin-left: 20px;
  margin-top: 4px;
}

.time-stamp {
  float: right;
  min-width: 20px;
  font-weight: 500;
  color: #c9d1d9;
  text-align: center;
}

.github-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  margin-left: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

.grafana-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  margin-right: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  position: absolute;
  right: 35px;
  bottom: 8px;
  z-index: 5;
}

.github-icon-button:hover .github-icon {
  color: cyan;
  transform: scale(1.2);
}

.grafana-icon-button:hover .grafana-icon {
  transform: scale(1.2);
}

.grafana-icon-button:hover img {
  filter: brightness(1.2);
  transform: scale(1.2);
}

.github-icon {
  color: white;
}

.golden .github-icon {
  color: var(--octopus-golden);
}

@media screen and (max-width: 1500px) {
  .card {
    min-width: 550px;
  }
}