.options-wrapper input[type="radio"]:focus {
    outline: 0;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.options-wrapper {
    font-size: small;
}

.options-wrapper input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.options-wrapper input[type="radio"]:hover+span {
    transform: scale(0.95);
    box-shadow: 0 0 0 0.08em white;
}

.options-wrapper input[type="radio"]+span {
    width: 47px;
}

.options-wrapper input[type="radio"]:checked + .option {
    display: flex;  /* Show only the checked option */
}

.options-wrapper input[type="radio"]:checked+.option span {
    box-shadow: 0 0 0 0.05em cyan;
    z-index: 1;
    color: cyan;
}

.options-wrapper input[type="radio"]:checked+.option .filter {
    color: cyan;
    box-shadow: 0 0 0 0.05em cyan;
}

.options-wrapper label span {
    display: block;
    cursor: pointer;
    background-color: black;
    padding: 0.1em 0.75em;
    position: relative;
    margin-left: 0.3em;
    border: var(--octopus-gray) solid 0.1em;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease;
}

.options-wrapper label:first-child span {
    border-radius: 0.1em 0 0 0.1em;
}

.options-wrapper label:last-child span {
    border-radius: 0 0.1em 0.1em 0;
}

.option-wrapper .text {
    display: none;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.option:hover {
    margin-top: 0.20em;
}

.option:hover .text {
    display: block;
    width: 45px;
    margin-top: 0.20em;
    box-shadow: 0 0 0 0.08em white;
}