.options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin: 0 0.5rem;
}

.options-wrapper:hover .option-wrapper {
  display: block;
  opacity: 0.7;
  transition: opacity 0.05s ease;
  z-index: 100;
}

.options-wrapper:hover .option-wrapper:has(input[type="radio"]:checked) {
  opacity: 1;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.7;
  }
}

.options-wrapper:hover .option-wrapper:not(:has(input[type="radio"]:checked)) {
  animation: slideDown 0.25s ease forwards;
}

.options-wrapper:hover {
  z-index: 10;
  background-color: rgba(26, 26, 46, 0.9);
}

.options-wrapper input[type="radio"]:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(77, 157, 224, 0.5);
}

.option-wrapper {
  display: none;
}

.option-wrapper input[type="radio"]:checked~.option {
  display: flex;
}

.option-wrapper:has(input[type="radio"]:checked) {
  display: block;
}

.options-wrapper input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.options-wrapper input[type="radio"]:hover+span {
  transform: scale(0.95);
  box-shadow: 0 0 0 0.08em rgba(255, 255, 255, 0.5);
}

.options-wrapper input[type="radio"]+span {
  width: 47px;
}

.options-wrapper input[type="radio"]:checked+.option span {
  box-shadow: none;
  z-index: 1;
  color: white;
  background: linear-gradient(90deg, var(--octopus-green) 0%, #1f787b 100%);
}

.options-wrapper input[type="radio"]:checked+.option .filter {
  color: white;
  border: none;
  border-radius: 4px;
}

.options-wrapper label span {
  display: block;
  cursor: pointer;
  background-color: #1a1a2e;
  padding: 0.35em 0.75em;
  position: relative;
  margin-left: 0.3em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  transition: all 0.2s ease;
  min-width: 45px;
  font-size: 0.9rem;
  border-radius: 4px;
}

.options-wrapper:hover label span {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

.options-wrapper label:first-child span {
  border-radius: 4px;
}

.options-wrapper label:last-child span {
  border-radius: 4px;
}

.option-wrapper .text {
  display: none;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  transition: transform 0.2s ease;
}

.option:hover {
  margin-top: 0.2em;
  transform: translateY(1.5px);
}

.option:hover .text {
  display: block;
  width: 45px;
  margin-top: 0.2em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
