# Server configuration
NODE_ENV='development' # development or production
FIXME_MODE='fixme' # fixme. Enable FIXME

LOCAL_DIRECTORY='../playwright' # Relative to server/.env
TEST_REPORTS_DIR='test_reports' # [optional] Directory name of the test reports. Relative to LOCAL_DIRECTORY. Default: 'test_reports'

# AWS S3 bucket configuration for remote mode
AWS_SDET_BUCKET_NAME=''
AWS_BUCKET_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

# Client configuration
VITE_SERVER_HOST='localhost'
VITE_SERVER_PORT=8000
VITE_REDIS_HOST=""
VITE_REDIS_PORT=6379